<nav class="navbar navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://static.vecteezy.com/system/resources/previews/000/348/687/original/bank-vector-icon.jpg"
        class="me-2"
        height="40"
        alt=""
        loading="lazy"
      />
      <small>BIT Bank</small>
    </a>
  </div>
</nav>

  <div class="conta">
    <p class="text-danger text-center" style="font-size: 100px;">Page Not Found </p>
  </div>



  <!-- footer -->
<footer class="text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="#">BIT Bank</a>
  </div>
  <!-- Copyright -->
</footer>